<ion-view view-title="Ajouter">
    <ion-content class="padding">
        <p class="wording">Ajouter votre annonce <br/>gratuitement à partir <br/>d'une simple photo.</p>
        <p class="wording">Votre position actuelle <br/>est nécessaire pour <br/>publier votre objet.</p>

        <button class="button button-block button-calm" ng-click="takePhoto()">
            Prendre une photo
        </button>

        <button class="button button-block button-calm" ng-click="choosePhoto()">
            À partir de la bibliothèque
        </button>


        <bro-loader
                ng-if="isUploading"
                class="cssLoader"></bro-loader>

        <!--<img ng-src="{{image}}" alt="" style="display: block; max-width:100%;"/>-->

        <p ng-if="progress">{{progress || 0 }} % envoyé</p>

    </ion-content>
</ion-view>
