<ion-view view-title="Brocante">
    <ion-content>
        <p ng-if="!Location.isSet" style="text-align: center;margin: 2em 0;">
            <bro-loader class="cssLoader"></bro-loader>
        </p>

        <ion-list>

            <ion-item
                    collection-repeat="product in update(Location.currentPosition) | orderBy:'object.priority':true"
                    collection-item-height="321"
                    collection-item-width="320"
                    type="item-text-wrap"
                    ng-click="show(product)"
                    class="productItem">
                <!--href="#/tab/product/{{product.key}}">-->

                <img ng-src="{{product.object.imagePath}}">

                <p><span>{{product.distance | formatDistance}}</span></p>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
